.Ability-Name {
    font-size: 1.6rem;
    color: black;
    font-weight: 700;
    padding-bottom: 1rem;
}

.Ability-Description {
    font-size: 1rem;
    color: black;
}

.Ability-Pokemon-List-Header {
    font-size: 1.3rem;
    margin-top: 1.5rem;
}
