.List-Container {
    display: flex;
    flex-direction: column;
}

.List-Item {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    width:fit-content;
    /* -webkit-text-stroke-width: 0.04rem;
    -webkit-text-stroke-color: #2F4C33; */
}

.List-Item:visited {
    text-decoration: none;
    color: black;
    /* -webkit-text-stroke-width: 0.055rem;
    -webkit-text-stroke-color: black; */
}

.Pokemon-Container {
    display: flex;
    flex-direction: column;
}

.Pokemon-Image {
    width: 250px;
    height: 250px;
    padding-bottom: 1rem;
}

.Pokemon-Name {
    font-size: 2rem;
    color: black;
    font-weight: 700;
    padding-bottom: 1rem;
}

.Pokemon-Types {
    font-size: 1rem;
    color: black;
    margin-left: 1rem;
    border: black;
    border-width: 1px;
    text-decoration: none;
}

.Flex-Column-Item {
    margin-top: 1rem;
}

.Flex-List-Vertical {
    display: flex;
    flex-direction: column;
}

.Stats-Grid {
    display: grid;
    margin-left: 0.8rem;
    grid-template-columns: 5rem 4rem;
    grid-template-rows: 1.2rem;
}

.Evolution-Link {
    margin-left: 1rem;
    text-decoration: none;
    color: black;
}

.Evolution-Link:visited {
    text-decoration: none;
    color: black;
}

.Evolution-Grid {
    display: grid;
    margin-left: 0.8rem;
    grid-template-columns: 5rem 7rem;
    grid-template-rows: 1.2rem;
}

.Evolution-Pokemon {
    grid-column-start: 1;
}

.Evolution-Method {
    grid-column-start: 2;
}

.Location-Table {
    border-spacing: 0px;
}

.Location-Info {
    padding-right: 0.5rem;
    padding-left: 1rem;
    text-decoration: none;
    color: black;
}

.Pokemon-Abilities {
    font-size: 1rem;
    color: black;
    margin-left: 1rem;
    border: black;
    border-width: 1px;
    text-decoration: none;
}

.Pokemon-Move-Table {
    border-spacing: 0px;
}

.Pokemon-Move-Name {
    padding-right: 1rem;
    padding-left: 1rem;
    text-decoration: none;
    color: black;
}

.Pokemon-Line-Item {
    /* height: 1.2rem !important; */
    display: flex;
    flex-direction: row;
    overflow: hidden !important;
    align-items: center;
    /* border: 1px solid black; */
    height: 1.33rem;
}

.Pokemon-Line-Item-Text {
    display: inline-flex;
    align-items: center;
    /* border: 1px solid black; */
}

.Pokemon-Sprite {
    height: 1.33rem;
    margin-left: -0.10rem;
    margin-right: -0.10rem;
    /* border: 1px solid black; */
}