.List-Container {
    display: flex;
    flex-direction: column;
}

.Location-Container {
    display: flex;
    flex-direction: column;
}

.Location-Name {
    font-size: 1.6rem;
    color: black;
    font-weight: 700;
    padding-bottom: 1rem;
}


.Location-Pokemon-List-Header {
    font-size: 1.3rem;
}

.Location-Image {
    width: 257px;
    height: 159px;
    padding-bottom: 1rem;
}

.Encounters-Frame {
    padding-left: 1rem;
}

.Sub-Location-Header {
    font-size: 1.15rem;
}

.Encounters-Type {
    font-size: 1.0rem;
}

.Frequency {
    padding-left: 0.33rem;
    font-size: 0.8rem;
}