.Move-Name {
    font-size: 1.6rem;
    color: black;
    font-weight: 700;
    padding-bottom: 1rem;
}

.Move-Description {
    font-size: 1rem;
    color: black;
    padding-bottom: 1rem;
}

.Move-Detail-Header {
    padding-right: 1rem;
}

.Move-Category {
    padding-left: 0.5rem;
}

.Move-Pokemon-List-Header {
    margin-top: 1.5rem;
    font-size: 1.3rem;
}

.Type {
    color: black;
    text-decoration: none;
}
