.Nav-bar {
  display: flex;
  flex-direction: row;
  background: rgb(1,144,56);
  background: linear-gradient(90deg, rgba(1,144,56,1) 0%, rgba(111,176,56,1) 70%, rgba(158,196,85,1) 100%);
  align-items: center;
  flex-wrap:wrap;
  position: sticky;
  top: 0;
}

.Navbar-Link {
  padding: 0.3rem;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  /* -webkit-text-stroke-width: 0.04rem;
  -webkit-text-stroke-color: #2F4C33; */
}

.Navbar-Link:visited {
  text-decoration: none;
  color: white;
  /* -webkit-text-stroke-width: 0.055rem;
  -webkit-text-stroke-color: black; */
}

.Main-Link {
  padding: 0.3rem;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
}

.Main-Link:visited {
  text-decoration: none;
  color: black;
}

.Home-Button {
  font-size: 2rem;
  color: #FECB00 !important;
  font-weight: 800 !important;
  -webkit-text-stroke-width: 0.13rem;
  -webkit-text-stroke-color: #4659A5 !important;
}

.Main {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
